extends layout.pug 

block vars
  - var title = 'about-me'

block title
        | About me
block content
        ul
                li Paweł Kamiński
                li 10+ around IT
                li before Java Full-Stack...
                li now Java Script and Frontends :)
                li  
                    a.flex(href="https://twitter.com/kamyk_pl" style="justify-content: flex-start")
                       img(src="img/twitter.png" style="background:white; box-shadow:0 0 0; max-width:40px" alt="twitter logo")
                       span(style="color:black") kamyk_pl
                li @iteratec
