extends layout-center.pug

block vars
  - var title = 'aframe-example'

block title
    a(href="https://aframe.io/" target="_blank")
        img(src="img/aframe-logo.svg" style="background:white; box-shadow:0 0 0; height:150px" alt="aframe-logo")
    div
        a(href="https://iteratour.surge.sh/" target="_blank")
            | Iteratour
