extends layout.pug 

block vars
  - var title = 'ar-vr-in-js'

block title
        | AR VR in web browser
block content
        div.fragment
                h2 VR
                ul
                        li Virtual Reality

        div.fragment
                h2 AR
                ul
                        li Augmented Reality
