extends layout.pug 

block vars
  - var title = 'been-there-done-that-ar'

block title
        | Been there done that
block content
        ul.flex
                li.fragment.no-bullet.asd.tac
                        p Pokemon Go
                                br
                                span.quote 2016
                        img(src="img/pokemon-go.png" alt="Pokemon Go" style="max-height:300px")
                li.fragment.no-bullet.asd.tac
                        p Mozzies
                                br
                                span.quote Symbian OS ~ 2003
                        img(src="img/Mozzies.png" alt="Symbian Mozzies" style="max-height:265px")

