extends layout.pug 

block vars
  - var title = 'been-there-done-that-ar'

block title
        | Been there done that
block content
        ul.flex
                li.fragment.no-bullet.asd  # Pokemon Go
                        img(src="img/pokemon-go.png" alt="Pokemon Go")
                li.fragment.no-bullet.asd  Siemens SX1 (2003)
                        img(src="img/Mozzies.png" alt="Symbian Mozzies")

