extends layout.pug 

block vars
  - var title = 'been-there-done-that-vr'

block title
        | Been there done that
block content
        ul.flex
                li.fragment.no-bullet
                        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">The 1990s <a href="https://twitter.com/hashtag/VR?src=hash&amp;ref_src=twsrc%5Etfw">#VR</a> headset no one talks about. <a href="https://twitter.com/hashtag/philips?src=hash&amp;ref_src=twsrc%5Etfw">#philips</a> Scuba. This relic just showed up at the lab. <a href="https://twitter.com/nicomo_cosca?ref_src=twsrc%5Etfw">@nicomo_cosca</a> <a href="https://twitter.com/hashtag/VirtualReality?src=hash&amp;ref_src=twsrc%5Etfw">#VirtualReality</a> <a href="https://twitter.com/hashtag/History?src=hash&amp;ref_src=twsrc%5Etfw">#History</a> <a href="https://t.co/O4ttaFa7lx">pic.twitter.com/O4ttaFa7lx</a></p>&mdash; Sami Hamid (@samihamidvr) <a href="https://twitter.com/samihamidvr/status/793725129872269314?ref_src=twsrc%5Etfw">November 2, 2016</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                li.fragment.no-bullet
                        p.tac
                          | Oculus Rift 2016
                        img(src="img/oculus.png" alt="Oculus Rift 2016")

