extends layout.pug 

block vars
  - var title = 'can-i-use'

block title
        | Can I use WebXR
block content
    div.fragment
        img(src="img/can-i-use-now.jpg" alt="can i use webxr screenshot" style="max-width: 750px;")
        p.small
                | Status for 2019-11-11
