extends layout.pug 

block vars
  - var title = 'can-i-use-10'

block title
        | Can I use WebXR
block content
    img(src="img/can-i-use.jpg" alt="can i use webxr screenshot" style="max-width: 750px;")
    p.small
        | Status for 2019-10-28
