extends layout.pug 

block vars
  - var title = 'can-i-use'

block title
        | Can I use WebXR
block content
    img(src="img/can-i-use.jpg" alt="can i use webxr screenshot")
    p.small
        | Status for 2019-10-28
