extends layout.pug 

block vars
  - var title = 'can-i-use'

block title
        | AR VR in web browser
block content

        h2 VR
        ul
                li Virtual Reality
                li 10+ around IT
                li now more around JavaScript some time ago more Java world
                li @iteratec
        h2 AR
        ul
                li Augmented Reality
                li 10+ around IT
                li now more around JavaScript some time ago more Java world
                li @iteratec
