extends layout.pug 

block vars
  - var title = 'credits'

block title
        | Credits


block content
    ul.no-bullet
        li
          | https://commons.wikimedia.org/wiki/File:Sample_screen_capture_of_Oculus_rift_development_kit_2_screen_buffer.jpg
          | Mozzies - https://www.researchgate.net/figure/The-AR-Soccer-Application-with-simple-edge-tracking-Gesture-Gestures-refer-to-the_fig3_228864152
          | Google Tiger - https://mashable.com/article/google-search-ar-animals/?europe=true
          | Microsoft Hololens - https://docs.microsoft.com/de-de/windows/mixed-reality/types-of-mixed-reality-apps
