extends layout.pug 

block vars
  - var title = 'credits'

block title
        | Credits


block content
    ul.no-bullet.quote.credits  

        li
          p Slide 0
          p
             img(src="img/around-the-corner.jpg")
          a(href="https://www.flickr.com/photos/bruce_krasting/6789987732" target="_blank")
            | www.flickr.com
        li
          p Slide 3
          p
            img(src="img/stereo.jpg")
          a(href="https://commons.wikimedia.org/wiki/File:Sample_screen_capture_of_Oculus_rift_development_kit_2_screen_buffer.jpg" target="_blank")
            | commons.wikimedia.org/wiki
        li
          p Slides 3, 8
          p
            img(src="img/oculus.png")
          a(href="https://en.m.wikipedia.org/wiki/File:Oculus-Rift-CV1-Headset-Front.jpg" target="_blank")
            | en.m.wikipedia.org
        li
          p Slide 3
          p
            img(src="img/6dof3dof.jpg")
          a(href="https://www.qualcomm.com/news/onq/2017/08/14/advancing-inside-out-motion-tracking-immersive-mobile-vr" target="_blank")
            | www.qualcomm.com
        li
          p Slide 4
          p 
            img(src="img/ar-example.png")
          a(href="https://commons.wikimedia.org/wiki/File:10.000_Moving_Cities,_Augmented_Reality_Multiplayer_Game.png" target="_blank")
            | commons.wikimedia.org

        li
          p Slide 4
          p
            img(src="img/google-glass.png")
          a(href="https://www.blog.google/products/hardware/glass-enterprise-edition-2/" target="_blank")
            | www.blog.google/products/hardware/glass-enterprise-edition-2/
        li
          p Slide 5
          p 
            img(src="img/holo.jpg")
          a(href="https://docs.microsoft.com/de-de/windows/mixed-reality/types-of-mixed-reality-apps" target="_blank")
            | docs.microsoft.com/de-de/windows/mixed-reality/types-of-mixed-reality-apps
        li
          p Slide 9
          p
            img(src="img/pokemon-go.png")
          a(href=" www.pokemongo.com" target="_blank")
            | www.pokemongo.com
        li
          p Slide 9
          p 
            img(src="img/Mozzies.png")
          a(href="https://www.researchgate.net/figure/The-AR-Soccer-Application-with-simple-edge-tracking-Gesture-Gestures-refer-to-the_fig3_228864152" target="_blank")
            | www.researchgate.net
        li
          p Slide 14
          p
            img(src="img/impossible.jpg")
          a(href="https://www.flickr.com/photos/eastcoastgambler/13986881888" target="_blank")
            |  www.flickr.com
        li
          p Slide 14
          p
            img(src="img/tools.png")
          a(href="http://www.publicdomainfiles.com/show_file.php?id=13953806415057" target="_blank")
            |   www.publicdomainfiles.com

        li
          p Slide 20
          p
            img(src="img/yes-we-can.jpg")
          a(href="https://www.flickr.com/photos/20106852@N00/2239098608" target="_blank")
            |  www.flickr.com

        li
          p Slide 28
          p 
            img(src="img/google-tiger.png")
          a(href="https://mashable.com/article/google-search-ar-animals/?europe=true" target="_blank")
            |  mashable.com/article/google-search-ar-animals
        li 
          p Slide 29
          p
            img(src="img/astronaut.png")
          a(href="https://modelviewer.dev/examples/augmented-reality.html" target="_blank")
            |  modelviewer.dev/examples/augmented-reality.html

