extends layout.pug 

block vars
  - var title = 'demo-web-xr'

block title
        | Demo Web Xr

block content
        ul
                li
                        a(href="https://immersive-web.github.io/webxr-samples/") Web XR Samples

