extends layout.pug 

block vars
  - var title = 'follow-me'

block title
        | Follow me
block content
        ul.flex.no-bullet
                li.fragment
                        a(href="https://kamyk-pl.github.io/gdg-ar-vr/#/title-0") kamyk-pl.github.io/gdg-ar-vr/
                        img(src="img/qrcode.png" alt="link to presentation")
                li.fragment
                        img(src="img/flags.gif" alt="how to set chrome flags")

