extends layout.pug 

block vars
  - var title = 'follow-me'

block title
        | Follow me
block content
        ul
                li QR Code
                        img(src="img/qrcode.png")
                       
                li Chrome Flags
                        img(src="img/flags.gif")

