extends layout.pug 

block vars
  - var title = 'frameworks'

block title
        | Frameworks and Tools

block content
        ul
                li
                        a(href="https://aframe.io/") AFrame
                li
                        a(href="https://googlewebcomponents.github.io/model-viewer/") Model Viewer
                li
                        a(href="https://facebook.github.io/react-360/") React 360
                li
                        a(href="https://threejs.org/") Three.js
                li
                        a(href="https://www.babylonjs.com/") babylonjs
