extends layout.pug 

block vars
  - var title = 'get your cardboard'

block title
        | Try it yourself !!!


block content
        ol
            li.fragment please retweet our tweet
                div(style="position:absolute; top:300px")
                    <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">iteratec <a href="https://twitter.com/hashtag/innovationpioneers?src=hash&amp;ref_src=twsrc%5Etfw">#innovationpioneers</a> next stop is <a href="https://twitter.com/hashtag/ar?src=hash&amp;ref_src=twsrc%5Etfw">#ar</a>/<a href="https://twitter.com/hashtag/vr?src=hash&amp;ref_src=twsrc%5Etfw">#vr</a> in the browser. Want to jump in?? <a href="https://twitter.com/hashtag/dfwro19?src=hash&amp;ref_src=twsrc%5Etfw">#dfwro19</a> <a href="https://twitter.com/hashtag/devfest?src=hash&amp;ref_src=twsrc%5Etfw">#devfest</a> <a href="https://twitter.com/hashtag/webxr?src=hash&amp;ref_src=twsrc%5Etfw">#webxr</a> <a href="https://twitter.com/hashtag/wroclaw?src=hash&amp;ref_src=twsrc%5Etfw">#wroclaw</a> <a href="https://twitter.com/hashtag/conference?src=hash&amp;ref_src=twsrc%5Etfw">#conference</a> <a href="https://twitter.com/devfest_wro?ref_src=twsrc%5Etfw">@devfest_wro</a> <a href="https://t.co/xV1ktgb5e8">pic.twitter.com/xV1ktgb5e8</a></p>&mdash; iteratec (@iteratec) <a href="https://twitter.com/iteratec/status/1195008790560694281?ref_src=twsrc%5Etfw">November 14, 2019</a></blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            li.fragment visit our stand
            li.fragment and collect our cardboard VR glasses

