extends layout.pug 

block vars
  - var title = 'get your cardboard'

block title
        | Credits


block content
        p.credits
                | Please (re)tweet about this talk with hashtags #
