extends layout.pug 

block vars
  - var title = 'glossary-ar'

block content
         h2 AR - Augmented Reality
         ul
             li.fragment real world
             li.fragment extend by computer generated content
                img.abs-images(src="img/google-glass.png" style="width:45%; left:0" alt="headset is required")
             li.fragment headset or mobile device required
                 img.abs-images(src="img/google-glass.png" style="width:45%; left:50%" alt="google glass")

