extends layout.pug 

block vars
  - var title = 'glossary-other-r'

block content
        div
                h2 MR
                ul
                        li Mixed Reality
        div.fragment
                h2 XR
                ul
                        li X Reality


