extends layout.pug 

block vars
  - var title = 'glossary-vr'

block content
        div
                h2 VR - Virtual Reality
                ul
                    li.fragment
                        p stereoscopic view
                        img.img-bottom(src="img/stereo.jpg" style="width:30%; left:0" alt="stereoscopic view")
                    li.fragment
                        p headset is required
                        img.img-bottom(src="img/oculus.png" style="width:30%; left:33%" alt="headset is required")
                    li.fragment
                        p view is rendered by device
                    li.fragment
                        p 3-DoF or 6-DoF
                        blockquote.twitter-tweet.img-bottom(style="width:30%; left:66%" )
                            <p lang="en" dir="ltr">Qualcomm slide showing the difference between 3-DoF and 6-DoF movement. Facebook’s Oculus Go is like the left one. Lenovo Mirage Solo is like the right one. But you need 6-DoF hand controls too for robust interaction (missing on both headsets). Source: <a href="https://t.co/uCBikhmXAd">https://t.co/uCBikhmXAd</a> <a href="https://t.co/7pqWi5yfwi">pic.twitter.com/7pqWi5yfwi</a></p>&mdash; Ian Hamilton (@hmltn) <a href="https://twitter.com/hmltn/status/996065757552295936?ref_src=twsrc%5Etfw">May 14, 2018</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
