extends layout-center.pug

block vars
  - var title = 'glossary-xr'

block title
        | VR + AR + MR + ?R
        span.fragment
            p
                | =
            p.bigger  XR
//- FIX ME
