extends layout.pug 

block vars
  - var title = 'glossary-ar'

block content
         h2 AR - Augmented Reality
         ul
             li.fragment real-world environment
             li.fragment extend by computer generated content
             li.fragment headset or mobile device required

