extends layout.pug 

block vars
  - var title = 'glossary-ar'

block content
         h2 AR - Augmented Reality
         ul
             li.fragment real world
             li.fragment extended by computer generated content
             li.fragment headset or mobile device required
                 img.abs-images(src="img/ar-example.png" style="max-width:45%; left:15%" alt="ar example")
                 img.fragment.abs-images(src="img/google-glass.png" style="max-width:45%; left:50%" alt="google glass")

