extends layout.pug 

block vars
  - var title = 'goal'

block title
        | Goal
block content
        ul
                    li.fragment
                        p AR / VR using web technologies
                        img.abs-images(src="img/impossible.jpg" style="width:30%; left:0; max-height:160px" alt="mohamed ali impossible is nothing")
                    li.fragment
                        p Show some tools and frameworks
                        img.abs-images(src="img/tools.png" style="width:30%; left:33%" alt="tools and frameworks")
                    li.fragment
                        p Do not try this at home
                        img.abs-images(src="img/dont-try-home.jpg" style="width:30%; left:66%" alt="don't try that at home")
                        div.fragment
                            img.abs-images(src="img/cross.png" style="width:50px; height:38px; left:30%; top: 78%; background-color: transparent; box-shadow:0 0 0"  alt="do try that at home")
                            img.abs-images(src="img/ex.png" style="width:50px; height:38px; left:66%; top: 77%; background-color: transparent;  box-shadow:0 0 0"  alt="dot try that at home")
                            img.abs-images(src="img/do-try-home.jpg" style="width:30%; left:66%" alt="do try that at home")
