extends layout.pug 

block vars
  - var title = 'iteratec'

block title
        | iteratec
block content
        ul
                li.fragment iteratec 1996
                li.fragment 7 locations (Munich, Dusseldorf, Frankfurt, Hamburg, Stuttgart, Vienna,
                        img.abs-images(src="img/iteratec-team.jpg")(style="left:0")
                        span.bold 
                                | Wroclaw
                        |)
                li.fragment ~ 350 employees, 20 in Wroclaw office
                        img.abs-images(src="img/iteratec-team.jpg")(style="left:33%")
                li.fragment iteratec is a gold sponsor of GDG Wrocław :)
                        img.abs-images(src="img/iteratec-team.jpg")(style="left:66%")

