extends layout.pug 

block vars
  - var title = 'iteratec'

block title
        | iteratec
block content
        ul
                li iteratec 1996
                li ~ 400 in total, 20 in Wroclaw office
                li projects for xxxxx x dsad
                li iteratec is a gold sponsor of GDG Wrocław :)

