extends layout-center.pug

block vars
  - var title = 'model-viewer-example'

block title
    a(href="https://modelviewer.dev/examples/augmented-reality.html" target="_blank")
        div.flex
            img(src="img/model viever.svg"  style="background:white; box-shadow:0 0 0; height:150px" alt="Model viewer logo")
            p Model Viewer Example


       
