extends layout.pug 

block vars
  - var title = 'first-ones'

block title         
        img(src="img/innovatiopioneers.jpg")
block content
        div(style="margin-left:22%")
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Alright people. Here it is.<a href="https://t.co/5AbrrE92It">https://t.co/5AbrrE92It</a> <a href="https://t.co/bP6G87ism8">pic.twitter.com/bP6G87ism8</a></p>&mdash; Mr.doob (@mrdoob) <a href="https://twitter.com/mrdoob/status/1131817655134896128?ref_src=twsrc%5Etfw">May 24, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>