extends layout.pug 

block vars
  - var title = 'challenges-size'

block title
        | Challenges
block content
        ul
             li.fragment
                p
                 | size of models
                img(src="img/astronaut.png" alt="3d model astronaut" style="max-height:300px")
                p.fragment.blink.sizeAstronaut > 2,5MB

             li.fragment
                p
                 | lack of UI guidelines and  good practices

