extends layout.pug 

block vars
  - var title = 'title'

block title
        | AR and VR in your browser
        br
        | are
        br
        | just around the corner


block content
        p.credits
                | (and behind the flags)
