extends layout.pug 

block vars
  - var title = 'can-i-use'

block title
        | AR VR in web browser
block content
        ul
                li webgl
                li three.js
                li html 5 canvas
                li @iteratec
