extends layout.pug 

block vars
  - var title = 'been-there-done-that'

block title
        | Been there done that
block content

        h2 VR
        ul
                li  VR Helmets 90s
                li  Oculus Rift 2016
        h2 AR
        ul
                li Pokemon Go
                li Siemens SX1 (2003)
