extends layout.pug 

block vars
  - var title = 'unreal'

block content
        div.flex
            img(src="img/unreal.png" style="background:white; box-shadow:0 0 0" alt="Unreal logo")
            <iframe width="560" height="315" src="https://www.youtube.com/embed/S14AVwaBF-Y?start=80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


