extends layout.pug 

block vars
  - var title = 'unreal'

block content
        img(src="img/unreal.png" style="background:white; box-shadow:0 0 0; max-height: 150px" alt="Unreal logo")
        p
           |  Impressive AR example in 2017
        <iframe width="560" height="315" src="https://www.youtube.com/embed/S14AVwaBF-Y?start=55" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


