extends layout.pug 

block vars
  - var title = 'virtual-dream'

block title
        | Virtual Dream Foundation
block content
        ul          
          li.fragment
              p Develop VR/AR projects for everyday relief and support socially excluded groups
              a(href="http://virtual-dream.org/" target="blank")
                img.abs-images(src="img/virtual-dream.jpg" style="width:358px; bottom: -305px; left:0; height:104px; background-color:white; border-radius:0 0 0 " alt="virtual dream logo")
          li.fragment
              p Please check some videos about the foundation
              <iframe style="width:40%; left:50%; max-height:320px; position:absolute; bottom: -130px;"   src="https://www.youtube.com/embed/DaPVR3PiKkE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 
          li.fragment
              p Share and/or support
           


