extends layout.pug 

block vars
  - var title = 'vs-native'

block title
        | vs native apps
block content
        h2 pros
        ul
            li.fragment no installation
            li.fragment instant updates
            li.fragment one app
            li.fragment security
            li.fragment it is our environment (Dev Tools, Npm, VisualCode, ....)

