extends layout.pug 

block vars
  - var title = 'vs-native-cons'

block title
        | web vs native apps
block content

        h2 cons
        ul
            li.fragment it is not yet production ready
            li.fragment offline resources
            li.fragment performance
            li.fragment web limitation (saving files, offline mode, ...)
