extends layout.pug 

block vars
  - var title = 'vs-native'

block title
        | vs native apps
block content

        h2 cons
        ul
            li.fragment offline resources
            li.fragment performance
            li.fragment page limitation (saving files, offline mode, )
