extends layout.pug 

block vars
  - var title = 'vs-native-pros'

block title
        | web vs native apps
block content
        h2 pros
        ul
            li.fragment security
            li.fragment 3d content can be indexed and searched
            li.fragment extend current websites
            li.fragment it is our playground with our tools
                br
                | (Dev Tools, Npm, VisualCode, ...)

