extends layout.pug 

block vars
  - var title = 'vs-native-pros'

block title
        | web vs native apps
block content
        h2 pros
        ul
            li.fragment no installation
            li.fragment no mobile stores restrictions
            li.fragment fast implementation (one app all platforms)
            li.fragment low entry threshold
            li.fragment instant updates



