extends layout-center.pug

block vars
  - var title = 'webxr-example'

block title
        ul.no-bullet
            li
                a(href="https://immersive-web.github.io/webxr-samples/" target="blank") WebXR Samples

