extends layout.pug 

block vars
  - var title = 'webxr-status'

block title
        | Web XR W3C Status
block content
    ul.no-bullet
      li.done  W3C receives a Submission
      li.done  W3C publishes a Note
      li.done  W3C creates a Working Group
      li.current  W3C publishes a Working Draft
      li.next  W3C publishes a Candidate Recommendation (expect 12.2019)
      li.next  W3C publishes a Proposed Recommendation
      li.next  W3C publishes a Recommendation
