extends layout.pug 

block vars
  - var title = 'webxr'

block title
        | Web XR
block content
        ul
            li.fragment  The first proposed standard of &nbsp;
                a(href="https://www.w3.org/immersive-web/")
                    | Immersive Web
                | &nbsp; working group at W3C
            li.fragment low level JavaScript API which exposes the VR platform capabilities
            li.fragment successor of WebVR
            li.fragment Goal: unify 3D immersive experiences using the Web
