extends layout.pug 

block vars
  - var title = 'webxr'

block title
        | WebXR
block content
        ul
           li.fragment WebVR (2014-2018)
           li.fragment
               a(href="https://www.w3.org/immersive-web/")
                    | Immersive Web
               | &nbsp; working group at W3C
           li.fragment Misson: "We help bring high-performance Virtual Reality (VR) and Augmented Reality (AR) (collectively known as XR) to the open Web via APIs to interact with XR devices and sensors in browsers."
           li.fragment
                span.bold WebXR Device API
                |   -  low level JavaScript API which exposes the VR platform capabilities
