extends layout.pug 

block vars
  - var title = 'yes-you-can'

block title
        | Yes you can
block content
        ul
                li Chrome Canary behind the flags
                li WebVR
                li Web XR Polifyis
                li Framwerorks
