extends layout.pug 

block vars
  - var title = 'yes-we-can'

block title
        | Yes we can
block content
        ul
                li Chrome behind the flags
                li Web XR Polifyis
                li Framwerorks
