extends layout.pug 

block vars
  - var title = 'yes-we-can'


block content
        ul.ywc
                li.fragment it works in Chrome
                li.fragment WebXR Polyfills
                li.fragment Frameworks
